
{% include 'components/admin/base_admin.html.twig' %}
{% include 'components/admin/nav_admin.html.twig' %}
{% include 'components/admin/body_header.html.twig' %}
	<h1>User</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive table--no-card m-b-30">
				<table class="table table-borderless table-striped table-earning">
					<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
						<th>name</th>
						<th class="text-right">Roles</th>
						<th class="text-right">Address</th>
						<th class="text-right">city</th>
						<th class="text-right">Balance</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.lastname }} {{ user.firstname }}</td>
						<td class="text-right">{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td class="text-right">{{ user.address }}</td>
						<td class="text-right">{{ user.city }}</td>
						<td class="text-right">{{ user.balance }}</td>
					</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row m-t-30">
	<div class="col-md-12">
		<!-- DATA TABLE-->
		<div class="table-responsive m-b-40">
			<table class="table table-borderless table-data3">
				<h2>Orders</h2>
				<thead>
				<tr>
					<th>Id</th>
					<th>Delivery Date</th>
					<th>Status</th>
					<th>Dishes</th>
				</tr>
				</thead>
				<tbody>
				{% for order in user.orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.state }}</td>
					<td>{{ order.deliveryDate|date('Y-m-d H:i:s') }}</td>
					{% for orderDish in order.orderDishes %}
					<td>
						{{ orderDish.quantity }}
						{{ orderDish.dish.name }}
					</td>
					{% endfor %}
					{% endfor %}
				</tr>
				</tbody>
			</table>
		</div>
		<!-- END DATA TABLE-->
	</div>
</div>
	<a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>

	<a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>


		{% include 'components/admin/footer_admin.html.twig' %}
