{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Orders
{% endblock %}

{% block body %}
	<h1>Orders</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Delivery date</th>
				<th>Dishes</th>
				<th>State</th>
				<th>Commentary</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						{% for orderDish in order.orderDishes %}
							{{ orderDish.quantity }}
							{{ orderDish.dish.name }}
							<p></p>
						{% endfor %}

					</td>
					<td>{{ order.state }}</td>
					<td>
						"
						{{ order.commentary.message }}
						"
												the
						{{ order.commentary.sendDate ? order.commentary.sendDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('restorer_order_edit', {'id': order.id}) }}">
							edit
						</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="3">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% endblock %}
