{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(restaurants) }}

    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <img src="{{ restaurants.picture }}">
        <h1 class="display-4 fw-normal">{{ restaurants.name }}</h1>
        <h5>{{ restaurants.address }}</h5>
        <h5>{{ restaurants.city }}</h5>
    </div>



    <div class="d-flex flex-wrap" style="margin: 10px ">
    {% for dish in restaurants.dishes %}
        <div class="card" style="width: 18rem; margin: 10px">
            <img class="card-img-top" src="{{ dish.preview}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ dish.name }}</h5>
                <p class="card-text">{{ dish.price}} €</p>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock %}
