{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}My order
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h1>My order</h1>
	</div>

	{% if items | length > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td class="w-25"><img class="w-100" style="object-fit: cover; height: 200px;" src="{{ item.dish.preview }}" alt=" {{ item.dish.name }} ">
						</td>
						<td>{{ item.dish.name }}</td>
						<td>{{ item.dish.price }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.dish.price * item.quantity }}</td>
						<td>
							<a href="{{ path('shopping_add', {'id': item.dish.id}) }}" class="btn btn-primary">
								add
							</a>
							<a href="{{ path('shopping_remove', {'id': item.dish.id}) }}" class="btn btn-danger">
								remove
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4" class="text-right">
						dishes :
					</th>
					<th>{{ total - 2.5 }}€</th>
					<th></th>
				</tr>
				<tr>
					<th colspan="4" class="text-right text-muted">
						service :
					</th>
					<th class="text-muted">+ 2.5€</th>
					<th></th>
				</tr>
				<tr>
					<th colspan="4" class="text-right">
						Total :
					</th>
					<th>{{ total }}
						€</th>
					<th></th>
				</tr>
			</tfoot>
		</table>
		<div class="d-flex justify-content-end">
			<a href="{{ path('shopping_order_buy')}}" class="btn btn-primary btn-lg" style="margin-right: 26%;">
				pass order
			</a>
		</div>
	{% else %}

		<p>there is no dishes in your order</p>
	{% endif %}
{% endblock %}
