{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Order index
{% endblock %}

{% block body %}
	<h1>Orders history</h1>

	<table class="table">
		{% if orders is not empty %}
			<thead>
				<tr>
					<th>Delivery_date</th>
					<th>Dishes</th>
					<th>State</th>
					<th>actions</th>
				</tr>
			</thead>
		{% endif %}
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						{% for orderDish in order.orderDishes %}
							{{ orderDish.quantity }}
							{{ orderDish.dish.name }}
							<p></p>
						{% endfor %}
					</td>
					<td>{{ order.state }}</td>
					<td>
						<a href="{{ path('order_comment', {'id': order.id}) }}">add commentary</a>
					</td>
				</tr>
			{% else %}
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<p class="lead">Your don't have orders</p>
					</div>
				</div>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
