<div class="d-flex flex-wrap justify-content-around">
	{% for restaurant in restaurants %}
		<div class="card m-3" style="width: 400px;">
			<div style="height: 250px; overflow: hidden;">
			<img class="card-img-top" src="{{ restaurant.picture }}" alt="{{ restaurant.name }}">
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ restaurant.name }}</h5>
				<p class="card-text">{{ restaurant.address }}
					in
					{{ restaurant.city }}</p>
				<div class="d-flex justify-content-between align-items-center">
					<a href="{{ path('restaurant_description', {'id': restaurant.id}) }}" class="btn btn-primary">more details</a>
					{% if restaurant.promotion is not empty %}
						<div class="alert bg-light text-primary m-0" role="alert">
							in promotion
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
